
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
  --customMagenta: #EB006F;
  --customDarkBlue: #103686;
  --customBlue: #3b6ce7;
  --white: #fff;
  font-family: 'Poppins', sans-serif;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
}

.pharmacy-card:hover{
  cursor: pointer;
  transform: scale(1.05);
}
.pharmacy-card{
  width: 300px!important;
  height: 320px!important;
  background-color: var(--customMagenta) !important;
  border-color: white !important;
  -webkit-box-shadow :0px 10px 40px -10px rgba(0,0,0,0.7);
  -moz-box-shadow :0px 10px 40px -10px rgba(0,0,0,0.7);
  box-shadow : 0px 10px 40px -10px rgba(57, 57, 57, 0.5);
  transition: transform 0.3s ease-in-out !important;
}
.order-prescription-pharmacy-card{
  width: 300px!important;
  height: 380px!important;
  background-color: var(--customMagenta) !important;
  border-color: white !important;
  transition: transform 0.3s ease-in-out !important;
}
.order-prescription-pharmacy-card:hover{
  cursor: pointer;
  transform: scale(1.05);
}
.order-prescription-pharmacy-footer{
  background-color: var(--customBlue) !important;
}
.pharmacy-card-image{
  width: 300px!important;
  height: 200px!important;
  object-fit: cover!important;
}
.medicine-details-image{
  width: 400px!important;
  height: 400px !important;
  margin-top: 80px !important;
  margin-left: 70px;
}
@media screen and (max-width: 600px) {
  .medicine-details-image {
    width: 200px!important;
    height: 200px!important;
    margin-top: 40px!important;
    margin-left: 35px;
  }
}

.medicine-card
{
  width: 125% !important;
  background-color: var(--customMagenta) !important;
  height: 12rem !important;
  transition: transform 0.3s ease-in-out !important;
}
.medicine-card:hover{
    cursor: pointer;
  transform: scale(1.05);
  }
.medicine-card-image{
  width: 288px!important;
  height: 100px!important;
  object-fit: cover!important;
}

.otp {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.customNavbar{
  background-color: var(--customDarkBlue);
  height: 65px !important;

}

.customButton{
  background-color: var(--customMagenta) !important;
  height: 40px;
}
.customButton:hover{
  background-color: var(--customBlue) !important;
}
.navbar-nav{
  background-color: var(--customDarkBlue);
}
.btn-editProfile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  --bs-btn-hover-bg: var(--customMagenta)!important;
  --bs-btn-hover-border-color : var(--customMagenta)!important;
}
.btn.btn-placeOrder{
  display: flex;
  justify-content: center !important;
  margin: auto !important;
  height: 100% !important;
  width: 50%;
  --bs-btn-hover-bg: var(--customMagenta)!important;
  --bs-btn-hover-border-color : var(--customMagenta)!important;
}
.btn.btn-checkOut{
  height: 100% !important;
  width: 100%;
  vertical-align: middle;
  --bs-btn-hover-bg: var(--customMagenta)!important;
  --bs-btn-hover-border-color : var(--customMagenta)!important;
}
.btn.btn-prescription-order
{
  justify-content: center !important;
  vertical-align: middle;
  margin: auto !important;
  height: 75% !important;
  width: 100%;
  --bs-btn-hover-bg: var(--customMagenta)!important;
  --bs-btn-hover-border-color : var(--customMagenta)!important;
}
.btn.btn-confirm-pharmacy
{
  display: flex;
  justify-content: center !important;
  vertical-align: middle;
  margin: auto !important;
  height: 100% !important;
  width: 75%;
  --bs-btn-hover-bg: var(--customDarkBlue)!important;
  --bs-btn-hover-border-color : var(--customDarkBlue)!important;
}
.heading-checkOut{
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  font-size: 5rem !important;
}
.heading-prescription{
  display: flex;
  justify-content: center;
  font-size: 5rem !important;
  margin-bottom: 2rem;
}
.pharmacy-container{
  margin-top:5rem!important;
}


.stock-P{
  color: white !important;
  text-decoration: none !important;
}
.description-text{
  color: white !important;
}
.medicine-details-card{
  margin-top: 70px;
  height: 90% !important;
}
.billing-details-card{
  margin-top: 5%;
  height: 100% !important;
}
.medicine-details-cardHeader{
  background-color: var(--customMagenta) !important;
  color: white !important;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.billing-details-card-header{
  background-color: var(--customMagenta) !important;
  color: white !important;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.order-summary-card{
  margin-top: 5%;
  height: 100% !important;
}
.order-summary-card-header{
  background-color: var(--customMagenta) !important;
  color: white !important;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.order-details-card-header{
  background-color: var(--customMagenta) !important;
  color: white !important;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.addRemove-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}
.my-orders{
  margin-top: 5rem;
}
.order-card{
width: 75%;
}
.order-details-card{
  margin-top: 5rem !important;
  width: 50% !important;
  display: flex;
  margin-left: auto !important;
  margin-right: auto !important;
}
.prescription-card{
  width: 75% !important;
  display: flex;
  margin-left: auto !important;
  margin-right: auto !important;
}
.prescription-card-header{
  background-color: var(--customMagenta) !important;
  color: white !important;
}
.view-prescription-card{
  width: 50% !important;
  display: flex;
  margin-top: 5rem  !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.cart-table{
  display: contents;
  width: 100%;

}
.btn-login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  --bs-btn-hover-bg: var(--customMagenta)!important;
  --bs-btn-hover-border-color : var(--customMagenta)!important;
}
.search-input{
  width: 50%;
  margin-bottom: 3%;
}
.btn-save{
  --bs-btn-bg: var(--customBlue) !important;
  color: white !important;
  align-items: center;
  height: 20%;
  width: 25%;
  --bs-btn-hover-bg: var(--customMagenta)!important;
  --bs-btn-hover-border-color : var(--customMagenta)!important;
}
.btn-delete{
  --bs-btn-bg: var(--customMagenta) !important;
  color: white !important;
  align-items: center;
  height: 20%;
  width: 100%;
  --bs-btn-hover-bg: var(--customBlue)!important;
  --bs-btn-hover-border-color : var(--customBlue)!important;
}
.btn.btn-increase{
  --bs-btn-bg: var(--customDarkBlue) !important;
}
.customCart{
  border-color: transparent !important;
}
.cart-badge {
  right: auto;
  top: auto !important;
  font-size: 10px;
  font-weight: 600;
}

.btn-editProfile i {
  margin-left: 5px;
  vertical-align: middle;
}
.btn-add{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100% !important;
  --bs-btn-hover-bg: var(--customMagenta)!important;
  --bs-btn-hover-border-color : var(--customMagenta)!important;
}
.btn-prescription-upload{
  --bs-btn-bg: var(--customBlue) !important;
  color: white !important;
  align-items: center;
  height: 100% !important;
  width: 7rem;
  --bs-btn-hover-bg: var(--customMagenta)!important;
  --bs-btn-hover-border-color : var(--customMagenta)!important;
}
.btn-add i {
  margin-left: 5px;
  vertical-align: middle;
}
.btn-buyMore{
  width: 60%;
}
.btn-buyMore i{
  margin-left: 5px;
  vertical-align: middle;
}
.btn-addCart{
  width: 60%;
}
.btn-addCart i{
  margin-left: 5px;
  vertical-align: middle;
}
.profile-picture-container {
  position: relative;
  display: inline-block;
  width: 200px; 
  height: 200px;
  border-radius: 50%; 
  overflow: hidden;
}

.profile-picture-container img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%; /* set the border radius to 50% to match the parent container */
}

.profile-picture-container:hover .edit-profile-picture {
  display: block;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  text-align: center;
  font-size: 1.3rem;
  text-decoration:double;
}
.edit-profile-picture {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 25%;
  color: white !important;
}
.btn-primary{
  --bs-btn-bg: var(--customBlue) !important;
  color: white !important;
  height: 20%;
  /* width: 25%; */
  --bs-btn-hover-bg: var(--customMagenta)!important;
}
.btn-login{
  --bs-btn-bg: var(--customBlue) !important;
  color: white !important;
  height: 100%;
  width: 35%;
  --bs-btn-hover-bg: var(--customMagenta)!important;
  --bs-btn-hover-border-color : var(--customMagenta)!important;

}
.upload-prescription{
  margin-top: 5rem !important;
  width: 75%;
  margin-left: auto !important;
  margin-right: auto !important;
}
.landingText{
  margin-top: 13px;
  margin-bottom: 13px;
}

.container{
  position: absolute;
  max-width: 30%;
  width:60%;
  height: 500;
  margin: auto;
  top: 60%;
  right: 7.5%;
  transform: translateY(-70%);
}

.myLeftCtn .bx{
  position: relative;
  color: #3354a9;
   
}

.btn-group{
  padding:0% 0% 5% 0%;
  
}
.btn.btn-outline-primary{
  --bs-btn-active-bg:#4596be;
  --bs-btn-border-radius: 15px;
  --bs-btn-hover-bg:#2e6a88;
}

.btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary:visited {
  color: #3354a9 !important;
  border-color: #3354a9 !important;
}

.btn-outline-primary:hover{
  background-color: var(--white) !important;
  color: #fff !important;
}

.myLeftCtn{
  position: relative;
  background: #fff;
  border-radius: 25px;
  height: fit-content;
  width: 100%;
  padding: 25px;
  padding-left: 10;
  margin: auto 0 !important;
}
.myLeftCtn header{
  color: #3354a9;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}
.row{
  height: 100%;
}
.myCard{
  position: relative;
  background: #fff;
  height: 100%;
  border-radius: 25px;
  -webkit-box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
  box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
}
.box{
  position: relative;
  margin: 20px;
  margin-bottom: 100px;
}
.mInput{
  width: 75%;
  border-radius: 25px;
  padding: 10px;
  padding-left: 50px;
  height: 100%;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 10px 49px -14px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 10px 49px -10px rgba(0,0,0,0.3);
  box-shadow: 0px 10px 49px -10px rgba(0,0,0,0.3);
}
.mInput:focus{
  outline: none;
}
.myForm{
  position: relative;
  margin-top: 50px;
}

.submitButton{
  display: flex;
  justify-content: center;
}

.mButton{
  color: #fff;
  background-color: #3354a9;
  width: 50%;
  border: 2px solid #fff;
  border-radius: 25px;
  padding: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
}
.mButton:hover{
  background-color: #fff;
  color: #3354a9;
  border: 2px solid #3354a9;
}
.mButton:focus{
  outline: none;
}

.butt_out{
  background: transparent;
  color: #fff;
  width: 120px;
  border: 2px solid#fff;
  border-radius: 25px;
  padding: 10px;
  -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
}
.butt_out:hover{
  border: 2px solid#eecbff;
}
.butt_out:focus{
  outline: none;
}

.otp {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  align-items: center;
}
.verifyDiv {
  padding: 18px;
}

.inputStyle {
  width: 50% !important;
  height: 40px;
  border-radius: 7px;
  border: 0px;
  margin-left: 8px;
  margin-right: 8px;
  background: #dddddd;
  font-size: 20px;
}
.p3 {
  color: black;
  margin-bottom: 0px;
  font-size: 14px;
}

.otpElements {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-top: 20px;
  margin-bottom: 50px;
  padding-left: 18px;
  justify-content: center;
}

.p1 {
  color: black;
  margin-bottom: 0px;
  font-weight: 800;
  margin-top: 25px;
  font-size: 27px;
}

.p2 {
  color: black;
  margin-bottom: 0px;
  font-size: 13px;
}

.login{
  width: 50%;
  vertical-align: baseline;
}
.login-container
{
  flex-basis: 50%;
  width: 100%;
  vertical-align: baseline;
}
.landing-image-container {
  flex-basis: 50%;
  width: 100%;
  height: 100%;
  margin-right: 15%;
}
.singUp-button{
  height: 25%;

}


.signup-container {
  flex: 1;
  flex-basis: 50%;
  width: 100%;
  display: block;

}
.myRightCtn{
  position:relative;
  background:#fff;
  border-radius:25px;
  height: fit-content;
  width: 50%;
  padding: 25px;
  margin:auto;
  margin-left: 20px;
  -webkit-box-shadow :0px 10px 40px -10px rgba(0,0,0,0.7);
  -moz-box-shadow :0px 10px 40px -10px rgba(0,0,0,0.7);
  box-shadow : 0px 10px 40px -10px rgba(0,0,0,0.7);
}
.react-phone-number-input__icon {
  width: 16px;
  height: 16px;
}
.changePasswordCard{
  width: 40%;
  margin-top: 12%;
}
.forgotPasswordCard{
  width: 40%;
  margin-top: 12%;
}
.addMedicineCard{
  width: 60%;
  margin-top: 7%;
  display: fit-content;
}

.map-container{
  width:100%;
  height:50vh;
}

.search-bar {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 36px;
  margin-left:0%;
  margin-bottom: 2%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.search-bar input[type="text"] {
  width: 100%;
  height: 100%;
  padding: 10px 40px 10px 20px;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: transparent;
}

.search-bar input[type="text"]:focus {
  box-shadow: inset 0 0 3px #ddd;
}

.search-bar button {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 36px;
  border: none;
  border-radius: 20px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #3e8e41;
}

.search-bar ul {
  position: absolute;
  top: 36px;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  z-index: 1;
}

.search-bar li {
  display: block;
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.search-bar li:hover {
  background-color: #f2f2f2;
}

@media (max-width: 768px){
  .addMedicineCard{
    width: 80%;
    margin-top: 15%;
  }
  .addMedicineSide{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.1%;

  }
  .inventory-section{
    margin-top: 14% !important;
    margin-left: 30%;
  }

}
.addMedicineCardHeader{
  background-color: var(--customBlue) !important;
  color: var(--white) !important;
  text-align: center;
}
.addMedicineCardTitle{
  font-size: medium;
  margin-left: 2%;
  margin-top: 2% !important;
  font-style: normal;
}
.required-field::after{
  content: "*";
  color: red !important;
}
.inventory-section{
  margin-top: 6%;
}
/* @media only screen and (max-width: 767px) {
  .login-container {
    width: 100%;
    max-width: none;
  }

  .container-1,
  .container-2,
  .container-3 {
    width: 100%;
  }
} */
thead {
  background-color: var(--customBlue);
  color: #fff;
}

th, td {
  text-align: center;
}
.plusButton{
    --bs-btn-color: #fff;
    --bs-btn-bg: transparent!important;
    --bs-btn-border-color:transparent!important;
    --bs-btn-hover-color: transparent!important;
    --bs-btn-hover-bg: transparent!important;
    --bs-btn-hover-border-color: transparent!important;
    --bs-btn-focus-shadow-rgb: 130,138,145;
    --bs-btn-active-color: transparent!important;
    --bs-btn-active-bg: transparent!important;
    --bs-btn-active-border-color: transparent;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: transparent;
}
.minusButton{
  --bs-btn-color: #fff;
    --bs-btn-bg: transparent!important;
    --bs-btn-border-color:transparent!important;
    --bs-btn-hover-color: transparent!important;
    --bs-btn-hover-bg: transparent!important;
    --bs-btn-hover-border-color: transparent!important;
    --bs-btn-focus-shadow-rgb: 130,138,145;
    --bs-btn-active-color: transparent!important;
    --bs-btn-active-bg: transparent!important;
    --bs-btn-active-border-color: transparent;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: transparent;
}
.plusIcon{
  color :var(--customBlue);
}
.minusIcon{
  background-color: transparent;
  color:var(--customMagenta)
}

#chat3 .form-control {
  border-color: transparent;
}

#chat3 .form-control:focus {
  border-color: transparent;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.badge-dot {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-left: 2.9rem;
  margin-top: -0.75rem;
}

#chat4 .form-control {
  border-color: transparent;
}

#chat4 .form-control:focus {
  border-color: transparent;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}


.small_badge {
  position: absolute; /* Set position to absolute */
  top: -10px; /* Move the badge up so it's on top of the text */
  right: -10px; /* Move the badge to the right so it's on top of the text */
  background-color: red; /* Set the background color to red */
  color: white; /* Set the text color to white */
  font-size: 12px; /* Set the font size */
  border-radius: 50%; /* Make the badge circular */
  padding: 3px 6px; /* Add some padding to the badge */
}